body {
    background-color: beige;
    user-select: none;
}
.layout {
    height: 450px;
    display: flex;
    justify-content: space-around;

    .column {
        margin: 5px 0;
        .card {
            position: relative;
            background-color: white;
            &:nth-child(n + 2) {
                margin: -50px 0 0 0;
            }
            &:last-child {
                cursor: pointer;
            }
        }
    }
}

.play-area {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.stock {
    height: 120px;
    width: 120px;
    margin-left: 0 50px 0;
    border: 1px solid #000;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: khaki;
    .stock-pile {
        height: 100px;
        width: 80px;
        position: relative;
    }
    .card {
        position: absolute;
        border-width: 1.5px 1.5px 0.9px 0.5px;
        border-style: solid;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: repeating-linear-gradient(45deg, #3cb371 0, #3cb371 10px, white 10px, white 20px);
        &:last-child {
            cursor: pointer;
        }
        p {
            margin: 5px 3px;
            font-size: 1.05rem;
            background-color: #fff;
            color: red;
        }
    }
}

.lead {
    height: 120px;
    width: 120px;
    margin: 0 50px 0;
    border: 1px solid #000;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: khaki;
    .lead-pile {
        height: 100px;
        width: 80px;
    }
    .card {
        background: #fff;
    }
}

.card {
    height: 100px;
    width: 80px;

    border: 1.5px solid #000;
    border-radius: 10%;

    text-align: center;
    p {
        margin: 5px 3px;
    }
    .card-rank {
        font-size: 1.3rem;
        font-weight: 800;
    }
}
